@charset "UTF-8";

body {
	margin: 40px 150px;
}

.staffbtn {
	position: absolute;
	right: 90px;
}
.backbtn{
	position: absolute;
	right: 500px;
}
.registbtn{
	position: absolute;
	right: 450px;
}

.staffbtnnew {
	position: absolute;
	right: 180px;
}

.toptitle {
	font-size: 30px;
	border-bottom: solid 3px #d3d3d3;
	padding-bottom: 5px;
}

.subtitle {
	font-size: 25px;
	border-bottom: solid 3px #d3d3d3;
	margin-top: 30px;
}

.align-middle{
	box-sizing: border-box;
}
table th{
  padding : 30px;
}

table td{
  padding : 30px;
}
p {
	white-space: pre-wrap
}
.textp {
	width: 150px;
	white-space: pre;
}

.form-container {
	text-align: right;
	padding: 5px 350px 5px 0;
}
.box{
	width: 170px;
}
.radio{
	margin-left: 35px;
	
}
.formbox {
	width: 165px;
	border: 1px solid;
	margin-top: 5px;

	text-align: left;
}
textarea{
	vertical-align: top;
}
.disabled{
	pointer-events: none;
	width: 170px;
}
.disabled1{
	pointer-events: none;
	margin-left: 35px;
}