@charset "UTF-8";

body {
	margin: 50px 160px;
}

.staffbtn {
	position: absolute;
	right: 90px;
}

.staffbtnnew {
	position: absolute;
	right: 180px;
}

.toptitle {
	font-size: 30px;
	border-bottom: solid 3px #d3d3d3;
	padding-bottom: 5px;
}

.subtitle {
	font-size: 25px;
	border-bottom: solid 3px #d3d3d3;
	margin-top: 30px;
}

table th{
  padding : 20px;
}

table td{
  padding : 20px;
}
p {
	white-space: pre-wrap
}

.form-container {
	text-align: right;
	padding: 5px 350px 5px 0;
}
.formbox {
	width: 250px;
	border: 1px solid;
	margin: 5px;
	padding: 5px 0;
	text-align: left;
}