<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blue star</title>
</head>
<body>
<h1>社員情報</h1>

<h1>エンジニア</h1>

<button onclick="location.href='list'">管理画面へ</button>

<table border="1" width = "500" height = "300" >
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>


</body>
</html>