<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheet.css">
	<title>管理画面</title>
</head>
<body>
<div id="listPage">
		<div class="toptitle">新規情報管理</div>
			
		<div class="engineer">
			<form action="new">
			<input type="submit" value="新規登録" class="staffbtnnew">
			</form>
			<form action="home">
			<input type="submit" value="戻る" class="staffbtn">
			</form>
			<div class="subtitle">エンジニア</div>
		</div>
</div>

<table border="1" style="border-collapse: collapse;">
	   <thead style="display: block;">
	    <tr>
	      <th style="width:42px;">No</th>
	      <th style="width:122px;">社員コード</th>
	      <th style="width:113px;">姓名</th>
	      <th style="width:190px;">姓名ローマ字</th>
	      <th style="width:115px;">入社年月日</th>
	      <th style="width:68px;">編集</th>
	      <th style="width:69px;">削除</th>
	    </tr>
	  </thead>
      
      <tbody style="display: block;">
          <tr th:each="user ,stat : ${userList}" th:object="${user}" class="align-middle">
          <td style="width:50px;"th:text="${stat.count}"></td>
          <td style="width:150px;"th:text="*{staff_code}"></td>
          <td style="width:150px;"th:text="*{last_name} + *{first_name}"></td>
          <td style="width:200px;"th:text="*{last_name_romaji} + *{first_name_romaji}"></td>
          <td style="width:100px;"th:text="*{joined_year}"></td>
          <td style="width:75px;">
          	<form action="/">
				<input type="submit" value="更新">
			</form>
          <td style="width:75px;">
          	<form action="/">
				<input type="submit" value="削除">
			</form>
          </td>          
        </tr>
      </tbody>

</table>
	
</body>
</html>