<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link th:href="@{/stylesheet.css}" rel="styleSheet">
<title>管理画面</title>
</head>
<body>
	<div id="listPage">
		<div class="toptitle">新規情報管理</div>

		<div class="engineer">
			<form action="new" th:object="${user}">
				<input type="submit" value="新規登録" class="staffbtnnew">
			</form>
			<div class="subtitle">社員情報</div>
		</div>
	</div>

	<div th:if="${userList == null}">社員情報はありません</div>


	<div th:if="${userList ne null}">
		<table border="1" style="border-collapse: collapse;" >
			<thead style="display: block; box-sizing: border-box;">
				<tr>
					<th style="width: 55px; font-weight: normal;">No</th>
					<th style="width: 130px; font-weight: normal;">社員コード</th>
					<th style="width: 150px; font-weight: normal;">姓 名</th>
					<th style="width: 130px; font-weight: normal;">姓名 ローマ字</th>
					<th style="width: 105px; font-weight: normal;">入社年月日</th>
					<th style="width: 90px; font-weight: normal;">編集</th>
					<th style="width: 90px; font-weight: normal;">削除</th>
				</tr>
			</thead>

			<tbody style="display: inline-block; ">
				<tr th:each="user ,stat : ${userList}" th:object="${user}" class="align-middle">
					<th style="width: 55px; font-weight: normal;"
						th:text="${stat.count}"></th>
					<th style="width: 130px; font-weight: normal;"
						th:text="*{staff_code}"></th>
					<th style="width: 150px; font-weight: normal;"
						th:text="*{last_name} + ' '+ *{first_name}"></th>
					<th style="width: 130px; font-weight: normal;"
						th:text="*{last_name_romaji} + ' '+ *{first_name_romaji}" class="nameP"></th>
					<th style="width: 105px; font-weight: normal;"
						th:text="*{joined_year}"></th>
					<th style="width: 90px; font-weight: normal;">
						<form th:action="@{'/edit/' + ${user.staff_code}}" method="get">
							<input type="submit" value="更新" class="editbtn">
						</form>
					</th>
					<th style="width: 90px; font-weight: normal;">
						<form th:action="@{'/delete/' + ${user.staff_code}}" method="get">
							<input type="submit" value="削除" class="editbtn">
						</form>
					</th>
				</tr>
			</tbody>

		</table>
	</div>
	<form action="home">
		<input type="submit" value="戻る" class="listBackHomebtn">
	</form>

</body>
</html>